<head>
    <link rel="stylesheet" href="add-item.component.css">
</head>

<body>
    <div class="title">Add item</div>
    <div class="form-container">
        <form (submit)="addItem($event)" class="form">
            <label>Item name:</label>
            <input type="text" id="name"> <br>
            <label> Category:</label>
            <select id="category">
                <option *ngFor="let category of categories">{{ category.categoryName }}</option>
            </select> <br>
            <label>Price:</label>
            <input type="text" id="price" size="5"> kn <br>
            <label>Image URL:</label>
            <input type="text" id="image" size="30"> <br>
            <input class="submit" type="submit" value="Confirm">
        </form>
    </div>
</body>
