
 <head>
    <link rel="stylesheet" href="item.component.css">
</head>

<body ng-cloak>
   
   <div class="container">
    <div class="item-box">
        <div class="image-div">
            <img class="image" src="{{ item.itemImageURL }}">
        </div>
        <div class="properties">
            <div class="property-div">
                <span  class="label">Item ID:</span> <span id="id" class="property-value"> {{ item.itemID }} </span>
            </div>
            <div class="property-div"> 
                <span class="label">Name:</span> <span class="property-value"> {{ item.itemName }} </span>
            </div>
            <div class="property-div">
                <span class="label">Category:</span> <span class="property-value"> {{ item.categoryName }} </span>
            </div>
            <div class="property-div">
                <span class="label">Price:</span> <span class="property-value"> {{ item.itemPrice }} kn</span>
            </div>
            <input id="addBtn" type="button" (click)="addToCart($event)" class="add-cart"  value="Add to cart">
        </div>
    </div>
</div>
    
</body>


