<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="app.component.css">
    </head>
    <body >
      <header>
        <a href="/" class="header-link">Items</a>
        <div class="changeable-links">
          <a href="/user" *ngIf="loggedIn()" class="header-link user-logout" id="user">User</a>
          <a href="/login" *ngIf="!loggedIn()" class="header-link user-logout" id="login">Login</a>
          <a href="/items" (click)="logout()" *ngIf="loggedIn()" class="header-link user-logout" id="logout">Logout</a>
        </div>
        <a href="/cart" class="header-link">Cart</a> 
      </header> 
      
    <div *ngIf="!notItems(locationUrl)">

      

      <div  class="item-manage-container">
        <div class="class"  *ngIf="checkIfAdmin()">
          <a href="/additem"><input class="add btn" type="button" value="Add item"></a>
          <a href="/updateitem"><input class="update btn" type="button" value="Update item"></a>
          <a href="/deleteitem"><input class="delete btn" type="button" value="Delete item"></a>
        </div>
        <div class="class" *ngIf="checkIfAdmin()">
          <a href="/addcategory"><input class="add btn" type="button" value="Add category"></a>
          <a href="/updatecategory"><input class="update btn" type="button" value="Update category"></a>
          <a href="/deletecategory"><input class="delete btn" type="button" value="Delete category"></a>

        </div>
      
    </div>
    
       
      <div class="filter-container">
        <label class="label">Category:</label>
        <select [(ngModel)]="category"  id="filterList"  class="select-list">
          <option>All</option>
          <option *ngFor="let category of categories"> {{ category.categoryName }}</option>>
        </select>
      </div>
      <div class="search-container">
        <input [(ngModel)]="searchText"  class="search" id="search" type="search" placeholder="Search for items...">
      </div>

      <div class="price-range-container">
        <label class="label"> from: </label> <input [(ngModel)]="minPrice" type="text" id="min" class="price" placeholder="min" size="5"> <span class="label">kn</span>
        <label class="label"> to: </label> <input [(ngModel)]="maxPrice" type="text" id="max" class="price" placeholder="max" size="5"> <span class="label">kn</span>
      </div>

      <div class="container">
        <div class="items-list">
          <div  *ngFor="let item of items | searchFilter:searchText | minFilter:minPrice | maxFilter:maxPrice | categoryFilter:category">
              <figure>
                <img class="image" src="{{ item.itemImageURL }}">
                <a class="caption" onclick="changeView()" [routerLink]="['/items', item.itemID]" routerLinkActive="active" ><figcaption > {{ item.itemName }} </figcaption></a>
              </figure>
          </div>
          
        </div>
      </div>

  </div>
  
  <router-outlet></router-outlet>

    </body>

  

    



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

